@{
    ViewBag.Title = "LinkedinCV";
}

<table width="1000" height="400" border="1">
    <tr>
        <td>
            <table width=100% height=100% border="1" background="/Content/images/linkedinarkaplan.PNG">
                <tr>
                    <td width="200" height="200"><img src="~/Content/images/busra.jfif" width="200" height="200" /></td>
                    <td></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table width=100% height=100% border="1">
                <tr>
                    <td width="300" height="200">
                        <table>
                            <tr>
                                <td width="250"><h2><b>Büşra BAŞARAN</b></h2></td>
                            </tr>
                            <tr>
                                <td><h4>Software Developer Student</h4></td>
                            </tr>
                            <tr>
                                <td><h4>at BilgeAdam</h4></td>
                            </tr>
                            <tr>
                                <td><h4>İstanbul,Turkey</h4></td>
                            </tr>
                        </table>
                    </td>
                    <td width="300" height="200">
                        <table>
                            <tr>
                                <td width="250"><h4><b>İstanbul Technical University</b></h4></td>
                            </tr>
                            <tr>
                                <td><h4><b>Middle East Technical University</b></h4></td>
                            </tr>
                            <tr>
                                <td><h4><b>BilgeAdam</b></h4></td>
                            </tr>
                            <tr>
                                <td><h4><b>İletişim Bilgileri</b></h4></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<br />
<hr />
<table width="1000" height="400" border="1">
    <tr><h3><b>DENEYİM</b></h3></tr>   
    <tr>
        <td height="10"><h4 style="text-align:center"><b>MEDA</b></h4></td>
        <td>
            <ul>
                <li><h5><b>MEDA Internatıonal Consultancy</b></h5></li>
                <li><h5>Consultancy Administrative Assistant</h5></li>
                <li>
                    <h5>
                        Explanation:
                        <div>
                            <ul>
                                <li>Consumer Marketing Communications</li>
                                <li>Digital Marketing</li>
                            </ul>
                        </div>
                    </h5>
                </li>
                <li><h5>Levent, Istanbul, Turkey</h5></li>
                <li><h5>Aralık,2017-Şubat,2019</h5></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td height="10"><h4 style="text-align:center"><b>ARÇELİK</b></h4></td>
        <td>
            <ul>
                <li><h5><b>ARÇELİK</b></h5></li>
                <li><h5>Project Engineer</h5></li>
                <li>
                    <h5>
                        Explanation:
                        <div>
                            <ul>
                                <li>Chemical use in new machinery system designs</li>
                                <li>Studies on the use of chemicals to be used in machinery systems</li>
                                <li>Detergent-side remedial activities in dishwasher systems remediation work</li>
                                <li>Dyeing and dye release of textile products in washer & drier machinery systems</li>
                                <li>Painting and finishing works on textile products</li>
                                <li>Non-woven materials behaviour</li>
                                <li>Quantitative analysis of experimental studies</li>
                                <li>Optimization of disperse dyed textile products washing in least dye-released conditions</li>
                                <li>Research project of cleaning and reusing of the water used in the washing machine which prosess inside of the machine</li>
                                <li>Usage of ozone recycle system designs in machinery systems</li>
                            </ul>
                        </div>
                    </h5>
                </li>
                <li><h5>Çayırova R&D Center, Istanbul, Turkey</h5></li>
                <li><h5>Haziran,2016-Eylül,2017</h5></li>
            </ul>
        </td>
    </tr>
</table>

